@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", Courier, monospace;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  background-color: #8fabd1;
}

.body {
  background-color: white;
  border-radius: 20px;
}

.container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: auto;
  max-width: 200px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
.head-title {
  background-color: white;
  font-weight: 700;
}

p {
  background-color: white;
  font-weight: 400;
  margin-top: 15px;
}
.attribution {
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.image-qr-code {
  max-width: 200px;
  border-radius: 10px;
}
