@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background-color: #d6e1f0;
  font-family: "Outfit", Courier, monospace;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20rem;
  background-color: white;
  border-radius: 0.75rem;
  text-align: center;
}
img {
  max-width: 18rem;
  border-radius: 0.5rem;
  margin: 1rem;
}
h1 {
  font-weight: 700;
  font-size: large;
  margin: 0.5rem 3rem;
}
p {
  font-weight: 400;
  font-size: medium;
  margin: 0.7rem 1.8rem;
  padding-bottom: 0.7rem;
}
.attribution {
  margin: 0.5rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
